#gallery {
    width: 630px;
    margin: 2em auto;
}

#gallery-wrapper {
    height: 90px;
    width: 100%;
}

#gallery-wrapper a {
    float: left;
    width: 100px;
    height: 90px;
    margin-right: 5px;
}

#gallery-wrapper a img {
    display: block;
    width: 100%;
    height: 100%;
}


#gallery-nav {
    margin: 1em 0;
    text-align: center;
}

#gallery-nav a {
    display: inline-block;
    width: 2em;
    height: 2em;
    background: #ccc;
    border: 1px solid #999;
    color: #000;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    margin-right: 0.5em;
}

#gallery-nav a.active {
    background: #999;
    color: #fff;
}


#gallery-image {
    margin: 1em 0;
    text-align: center;
}
